
.highlight pre{
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    font-size: 75%;
}

.docutils.literal{
    color: #00acc1;
    padding: 1px 4px;
    margin: 0 -2px;
    border-radius: 2px;
}

a {
    color: #00acc1;
}

a.reference {
    border-bottom: 1px dotted #00acc1;
}

a.reference:hover {
    border-bottom: 1px solid #00acc1;
}

a:hover {
    color: #00acc1;
}


h1 {
    margin: 30px 0px 10px 0px !important;
}


.body {
    max-width: unset !important;
}


img.logo {

    width: 210px;

}


div.note {
    background-color: #00ACC117;
    border: 1px solid #00ACC15C;
}



dl:not(.docutils) dt {
        margin: 6px 0;
        margin-top: 6px;
        font-size: 90%;
        line-height: normal;
        background: #00ACC117;
        color: #555;
        border-top: solid 3px #00ACC15C;
        padding: 6px;
        font-family: mono;
}

dl:not(.docutils) tt,
dl:not(.docutils) tt,
dl:not(.docutils) code {
    font-weight: bold;
}

dl:not(.docutils) tt.descname,
dl:not(.docutils) tt.descname,
dl:not(.docutils) code.descname {
    font-weight: bold;
}

dl:not(.docutils) dl dt {
        margin-bottom: 6px;
        border: none;
        border-left: solid 3px #ccc;
        background: #f0f0f0;
        color: #555;
}


/*dl.field-list > dd {*/
    /*margin-top: 10px;*/
/*}*/
